.column {
  margin: 0px 12px;
}

/* HEADER */

.headerWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #d98ba7;
  padding: 12px 0px;
  box-sizing: border-box;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: 200;
  text-align: center;
}

.navBar {
  list-style-type: none;
  color: white;
  font-size: 18px;
  font-weight: 200;
  display: inline-flex;
}

.navBar > li {
  padding: 3px 5px;
}

/* MAIN */

/* MAIN - nav */

.subMenu {
  width: 100%;
  text-align: right;
  margin-top: 72px;
}

.subMenu > ul {
  color: #d98ba7;
}

.subMenu > ul > li:hover {
  background-color: #f2d5e0;
  border-radius: 20px;
}

/* MAIN - section */

.personalMain {
  background-color: #f8f8ff;
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.boards {
  width: 100%;
}

/* .boards div:first-child {
  margin-top: 78px;
} */

.newBoard {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d98ba7;
  border-radius: 5px;
  background-color: #f2d5e0;
  margin: 15px 0px;
  padding: 12px;
  box-shadow: 0px 0px 2px #d98ba7;
}

.newBoard > ul {
  color: #424242;
  padding: 12px 15px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 2px #d98ba7;
}

h3.boardName {
  color: #424242;
}

h3.boardSectionName {
  color: #d98ba7;
}

ul.bookmarks,
ul.boardSection {
  margin-top: 15px;
}

.bmDescription {
  font-size: 13px;
}
