@import "./reset.scss";

.headerWrapper {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: #d98ba7;
  padding: 12px 0px;
  box-sizing: border-box;
}

.logo {
  color: white;
  font-size: 22px;
  font-weight: 200;
  text-align: center;
}

.navBar {
  list-style-type: none;
  color: white;
  font-size: 18px;
  font-weight: 200;
  display: inline-flex;
}

.navBar > li {
  padding: 3px 5px;
}
