@import "../style/_variables.scss";
@import "../style/_mixins.scss";
@import "../style/_reset.scss";

// MAIN

.main {
  height: 100vh;
  background-color: $colorBackground;
  // margin-top: 50px;
  padding: 50px 20px 0px;
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__boardName {
    color: $colorSecondaryDark;
    font-size: 18px;
    font-weight: 200;
  }
  &__menu {
    margin: 15px 0;
    text-align: right;
  }
  .menu {
    list-style-type: none;
    display: inline-flex;
    text-align: center;
    &__item {
      width: 26px;
      padding: 3px 5px;
      color: $colorSecondaryDark;
      font-size: 18px;
      font-weight: 200;
      // remove once the placeholder takes the proper value
      &:first-child {
        width: fit-content;
      }
      &:hover {
        background-color: $colorPrimaryLight;
        border-radius: 8px;
      }
      &:last-child {
        margin-right: -5px;
      }
    }
  }
}
