// MAIN

.main {
  height: 100vh;
  background-color: #f8f8ff;
  // margin-top: 50px;
  padding: 50px 20px 0px;
  &__menu {
    margin: 15px 0;
    text-align: right;
  }
  .menu {
    list-style-type: none;
    display: inline-flex;
    text-align: center;
    &__item {
      width: 26px;
      padding: 3px 5px;
      color: #d98ba7;
      font-size: 18px;
      font-weight: 200;
      &:hover {
        background-color: #f2d5e0;
        border-radius: 8px;
      }
      &:last-child {
        padding: 3px 0 3px 5px;
      }
    }
  }
}

.subMenu {
  /* width: 100%; */
  text-align: right;
  padding-top: 15px;
}

.subMenu > ul {
  color: #d98ba7;
}

.subMenu > ul > li:hover {
  background-color: #f2d5e0;
  border-radius: 20px;
}

/* MAIN - section */

.personalMain {
  width: 100vw;
  min-height: 100vh;

  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  /* align-items: flex-start; */
}

/* .boards {
  width: 100%;
} */

/* .boards div:first-child {
  margin-top: 78px;
} */

.newBoard {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d98ba7;
  border-radius: 5px;
  background-color: #f2d5e0;
  margin: 15px 0px;
  padding: 12px;
  box-shadow: 0px 0px 2px #d98ba7;
}

.newBoard > ul {
  color: #424242;
  padding: 12px 15px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 2px #d98ba7;
}

h3.boardName {
  color: #424242;
}

h3.boardSectionName {
  color: #d98ba7;
}

ul.bookmarks,
ul.boardSection {
  margin-top: 15px;
}

.bmDescription {
  font-size: 13px;
}

@media all and (min-width: 768px) {
  .boards {
    display: flex;
    align-items: flex-start;
  }

  .newBoard {
    width: 50%;
    margin: 12px;
  }
}

@media all and (min-width: 1200px) {
  .newBoard {
    width: 33%;
  }
}
