@import "../style/_variables.scss";
@import "../style/_mixins.scss";
@import "../style/_reset.scss";

.header {
  width: 100%;
  background-color: $colorPrimaryDark;
  padding: 12px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1;
  &__logo {
    color: white;
    font-size: 22px;
    font-weight: 200;
  }
  &__menu {
    list-style-type: none;
    color: white;
    font-size: 20px;
    font-weight: 200;
  }
}
