@import "../style/reset.scss";

.subMenu {
  /* width: 100%; */
  text-align: right;
  padding-top: 15px;
}

.subMenu > ul {
  color: #d98ba7;
}

.subMenu > ul > li:hover {
  background-color: #f2d5e0;
  border-radius: 20px;
}

/* MAIN - section */

.personalMain {
  background-color: #f8f8ff;
  width: 100vw;
  min-height: 100vh;
  margin-top: 57px;
  /* display: flex;
  flex-wrap: wrap;
  justify-content: center; */
  /* align-items: flex-start; */
}

/* .boards {
  width: 100%;
} */

/* .boards div:first-child {
  margin-top: 78px;
} */

.newBoard {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #d98ba7;
  border-radius: 5px;
  background-color: #f2d5e0;
  margin: 15px 0px;
  padding: 12px;
  box-shadow: 0px 0px 2px #d98ba7;
}

.newBoard > ul {
  color: #424242;
  padding: 12px 15px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 0px 2px #d98ba7;
}

h3.boardName {
  color: #424242;
}

h3.boardSectionName {
  color: #d98ba7;
}

ul.bookmarks,
ul.boardSection {
  margin-top: 15px;
}

.bmDescription {
  font-size: 13px;
}

@media all and (min-width: 768px) {
  .boards {
    display: flex;
    align-items: flex-start;
  }

  .newBoard {
    width: 50%;
    margin: 12px;
  }
}

@media all and (min-width: 1200px) {
  .newBoard {
    width: 33%;
  }
}
